* {
    text-align: justify;
}

body {

    text-align: justify;
     /*line-height: 1.5;*/
     /*font-family: "lobster";*/
}
 /*
p{
text-indent: 1.5em;
}
*/
 /*
br{
text-indent:100px;
background-color: red;
}
*/
p img{
    width: 40%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
}

 /*
@font-face {
  font-family: 'lobster';
  src: url('typefaces/lobster.ttf');
}
*/

 .someclass {
     background-color: RGB(179, 229, 252);
 }

 .custom-menu {
     display: none;
     z-index: 1000;
     position: absolute;
     overflow: hidden;
     white-space: nowrap;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);


     background-color: rgb(227, 242, 253);
            justify-content: center;
            margin: 0;
                    padding: 0;


     text-align: center;

 }
 /* Each of the items in the list
 word-break: break-all;
 */
 .custom-menu li {
     display: inline-block;
     color: black;
     margin: 5px;
     cursor: pointer;
     text-align: center;
list-style-type: none;
    transition: all .3s ease;
    user-select: none;
 }
.custom-menu li div{
     text-align: center;
     font-weight: bold;
}
.custom-menu li img{
     width: 25px;
     height 25px;
}

.my-margin{
    margin: 5px;
}

 .custom-menu li:hover {
     background-color: #DEF;
 }


.share1{
    display: none;
    width:0px;
    height:0px:
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}